<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>kimimben</title>
    </head>
    <body>
        <div class="row">
            <p style="float:left;margin:20px;padding:20px;">
                <img src="/media/ben.jpg" class="img-responsive" alt="Muhammed Yılmaz"/>
                <i>
                    <b>
                        <p>
                            merhabalar sayın ziyaretçilerim.
                        </p>
                        <p>
                            ilk site denememi mesleğimin vazgeçilmez parçası olan ilaçlar üzerine yapmak istedim.
                        </p>

                    </b>
                </i>
            </p>

        </div>
        <div class="">
            <p>
                <a class="btn btn-default" href="/" role="button">Anasayfaya dön...</a>
            </p>
        </div>

        <address>
            <br><hr>
            <strong>www.RxMuadil.com</strong><br>
            Samsun Gazi Devlet Hastanesi<br>
            Muhammed Yılmaz<br>
            <abbr title="Cep Telefon Numaram">Tel: (535)-768-0521</abbr><br>
            <a href="mailto:#">ecz.muhammed@gmail.com</a>
        </address>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78611601-1', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
